<h1>Bitte wählen Sie ihre Wunschinformationen:</h1>
<h2></h2>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
            <label>Messpunkte:</label>
            <ng-select 
                [(ngModel)]="controllings.stations"
                [items]="stations"
                [closeOnSelect]="false"
                bindLabel="name"
                placeholder="Station auswählen"
                [multiple]="true"           
                (change)="selectedControllsChange()">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name | uppercase}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
                </ng-template>
            </ng-select>
        </div>  
      </div>
      <div class="col-sm">
        <div class="form-group">
            <label>Messreihen:</label>
            <ng-select 
                [(ngModel)]="controllings.fields"
                [items]="fields"
                [closeOnSelect]="false"
                bindLabel="description"
                placeholder="anzuzeigende Messreihen auswählen"
                [multiple]="true"
                (change)="selectedControllsChange()">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.description | uppercase}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.description}}
                </ng-template>
            </ng-select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
            <label>Datum:</label>
            <input type="date" id="day" class="form-control" [(ngModel)]="controllings.date" required (change)="selectedControllsChange()">
        </div>  
      </div>
    </div>
  </div>
 
<h2>Seite wählen:</h2>
<mat-button-toggle-group aria-label="Font Style" [(ngModel)] = "choosenSite" (click)="selectedControllsChange()"> 
    <mat-button-toggle value="gauge">Tachos</mat-button-toggle>
    <mat-button-toggle value="overview">Wetterübersicht</mat-button-toggle>
    <mat-button-toggle value="wind">Winddetails</mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="choosenSite === 'overview'">
    <app-weather-overview [controllings]="controllings"></app-weather-overview>
</div> 
<div *ngIf="choosenSite === 'wind'">
    <app-wind-details [controllings]="controllings" [fields]="fields" ></app-wind-details>
</div> 
<div *ngIf="choosenSite === 'gauge'">
    <app-gauges [controllings]="controllings" ></app-gauges>
</div> 

<!--plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot-->